# Ignore node_modules if any
node_modules/

# Ignore git files
.git/
.gitignore

# Ignore IDE files
.vscode/
.idea/

# Ignore deployment folder
deployment/

# Ignore misc files
*.md
!README.md
.DS_Store
item-content-style.txt

# Ignore data directory
data/
